<div class="row">
    <div
      class="col-lg-5  d-flex flex-column justify-content-center p-5"
    >
      <span class="mx-auto d-flex justify-content-center flex-column">
        <!-- <div class="bg-light rounded-circle mt-2 d-block avatar"></div> -->
  
        <p class="mt-4 d-flex align-content-center text-center text-primary">
            <p-skeleton shape="circle" size="20rem"></p-skeleton>
        </p>
      </span>
    </div>
    <div class="d-flex flex-column col-lg-7 bg-daxnger p-5 align-content-center">
      <div class="my-5">
        <p-skeleton styleClass="mb-2"></p-skeleton>
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="10rem" height="4rem"></p-skeleton>
      </div>
    </div>
  </div>