
<div class="row">
    <div class="col-lg-5  d-flex flex-column justify-content-center p-5">
      <span class="mx-auto d-flex justify-content-center flex-column">
        <img  [src]="userDetails?.avatar_url" class="rounded-circle my-auto" alt="Avatar" />
        <p class="mt-4 d-flex align-content-center text-center text-primary">
          <i class="pi pi-github mr-3"></i>
          <a class="github"[href]="userDetails?.html_url" target="_blank">{{
            userDetails?.html_url
            }}</a>
        </p>
      </span>
    </div>
    <div class="d-flex flex-column col-lg-7 bg-daxnger p-5 align-content-center">
      <div class="my-5">
        <h1 class="text-primary">{{userDetails?.name ?? '--'}}</h1>
        <p class="bio my-3">{{userDetails?.bio ?? 'User has not any bio'}}</p>
        <h5 *ngIf="userDetails?.location" class="d-flex align-content-center text-primary">
          <i class="pi pi-flag mr-3"></i>  <span>{{userDetails?.location ?? 'User has not mention any location'}}</span>
        </h5>
        <p *ngIf="userDetails?.twitter_username" class="d-flex align-content-center text-primary">
          <i class="pi pi-twitter mr-3"></i>
          <a class="twitter" href="{{'https://twitter.com/' + userDetails?.twitter_username}}" target="_blank">twitter.com/{{userDetails?.twitter_username}}</a>
        </p>
      </div>
    </div>
  </div>